name: Next.js CI

on:
  pull_request:
    branches: [main]

jobs:
  next:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.14.0
          run_install: false

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Install Deps (immutable)
        run: pnpm install --no-frozen-lockfile

      - name: Run Biome
        run: pnpm biome:lint:ci

      - name: Run TypeScript
        run: pnpm typescript:ci

      - name: Run unit tests in CI environment
        run: pnpm test:ci

      - name: Build the application
        run: pnpm build
